{% extends 'base.html' %}

{% block content %}

{% for message in get_flashed_messages() %}
<br>
<div class="alert alert-success alert-dismissible fade show" role="alert">
    Hey {{ name_to_update.username }} - {{ message }}
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
{% endfor %}

{% if name %} 

    <h1>更新成功！</h1>
    <br><br><br>
<table class="table table-hover table-striped table-bordered">
{% for our_user in our_users%}
    <tr>
        <td>{{our_user.userid}}</td>
        <td>{{our_user.username}}</td>
        <td>{{our_user.email}}</td>
    </tr>

{% endfor %}
</table>
<br><br>

{% else %}
<br>
<h1>表單更新...</h1>
<br>
<div class="shadow p-3 mb-5 bg-body rounded">
    <form action="/update/{{name_to_update.userid}}" method="POST">
        {{ form.hidden_tag() }}
        {{ form.name.label(
        class="col-sm-2 col-form-label"
        )}}
        {{ form.name(class="form-control", value=name_to_update.username) }}
        {{ form.bankername.label(
        class="col-sm-2 col-form-label"
        )}}
        {{ form.bankername(class="form-control", value=name_to_update.bankername) }}
        {{ form.gender.label(
        class="col-sm-2 col-form-label"
        )}}
        {{ form.gender(class="form-control", value=name_to_update.gender) }}
        {{ form.userage.label(
        class="col-sm-2 col-form-label"
        )}}
        {{ form.userage(class="form-control", value=name_to_update.userage) }}
        {{ form.phonenumber.label(
        class="col-sm-2 col-form-label"
        )}}
        {{ form.phonenumber(class="form-control", value=name_to_update.phonenumber) }}
        {{ form.email.label(
        class="col-sm-2 col-form-label"
        )}}
        {{ form.email(class="form-control", value=name_to_update.email) }}
        {{ form.loantype.label(
        class="col-sm-2 col-form-label"
        )}}
        {{ form.loantype(class="form-control", value=name_to_update.loantype) }}
        {{ form.loanAMT.label(
        class="col-sm-2 col-form-label"
        )}}
        {{ form.loanAMT(class="form-control", value=name_to_update.loanAMT) }}
        {{ form.AMT_child.label(
        class="col-sm-2 col-form-label"
        )}}
        {{ form.AMT_child(class="form-control", value=name_to_update.AMT_child) }}
        <br>
        {{ form.submit(class="btn btn-warning") }}
        <a href="{{url_for('delete', id=id)}}" class="btn btn-danger" >Delete</a>
    </form>
</div>
<br><br><br>

{% endif %}
{% endblock %}